*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.container {
    margin: 0 auto;
    text-align: left;
    width: 929px;
}

// header start
header {
    text-align: end;
    width: 100%;
    padding-top: 94px;
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    align-items: flex-end;
    border-bottom: 4px solid;
    padding-inline: 10px;

    list-style: none;
    li {
        padding: 10px 10px 15px 10px;
        font-weight: bold;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        transform: translateY(4px);

        &:hover {
            text-decoration: underline;
        }

        &.here {
            background-color: #fff;
            border: 1px solid;
            border-bottom: none;
        }
    }

    margin-bottom: 10px;
}

.navigate {
    padding-bottom: 8px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
}

.navigate__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
}

.subnav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    li {
        padding: 2px 7px;
        border-radius: 3px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: #d7d7d7;
            text-shadow: #fff 0 1px 0;
        }

        &.here {
            background-color: #000;
            color: #fff;
            border-radius: 2px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-color: #000;
                width: 10px;
                height: 5px;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                top: calc(100% + 2px);
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }
}

.switch_version {
    display: flex;
    align-items: center;
    column-gap: 3px;
    text-decoration: none;

    span {
        display: block;
        color: #000;
        font-size: 15px;
    }
}

.hentrylist {
    padding-left: 11px;
    margin-top: 33px;

    .hentry {
        margin-bottom: 45px;
        padding: 0 23px;
        .hentry__item {
            margin-bottom: 20px;
        }
    }
}
